extends ../_layout.pug

block deps
    +bower_pkg('time-js')
    +bower_pkg('js-py') 
    +bower_pkg('google-material-icons')

    +css('timeline/timeline.css')
    +js('js/timeline/timeline.js')

block body
    .row#instructor-info
        div(class='col-lg-2 col-lg-offset-1')
            #instructor-icon-bg
                img(src=static('partner/img/instructor_photo.png'))
        div(class='col-lg-4')
            h3 {{ instructor.first_name }} {{ instructor.last_name }}


    #table-rollers
        #text 12 Seps - 18 Sep
        
        i.material-icons#btn-next arrow_forward
        i.material-icons#btn-prev arrow_backward

    table
        thead
        tbody

        template#row-tmpl
            tr.time-row
                td.time
                td.mon
                td.tue
                td.wed
                td.thu
                td.fri
                td.sat 
                td.sun 
