// @import './layout.styl'

border = 1px solid rgba(125, 125, 125, 0.1)

html 
    body
        padding: 0 !important

#instructor-info
    margin-top: 3.5vh
    margin-bottom: 7.5vh

    #instructor-icon-bg
        size = 7.5vw
        color = lighten(#3c454c, 10)

        position: relative
        
        width: size
        height: size
        margin-left: 50%
        transform: translateX(-50%)
        
        background-color: color
        border-radius: 15%
        box-shadow: 0 0.1vh 0.5vw rgba(0, 0, 0, .2)
        
        img
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            
            height: 85%


#table-rollers
    buttons_size = 1.25vw 

    position: relative 
    height: 6.5vh

    #interval-dates
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

    #btn-prev, #btn-next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        
        width: buttons_size
        height: buttons_size
        
        cursor: pointer

    #btn-prev
        left: 2.5%
        
    #btn-next
        right: 2.5%

table
    width: 100%

    .mon, .tue, .wed, .thu, .fri, .sat, .sun 
        width: 13% 

    .time
        width: 9%
        padding-right: 0.3vw
        padding-top: 0.3vw
        
        text-align: right

    thead
        border-top: border
        border-bottom: border
        
    tbody
        tr, td
            border: none
            box-shadow: none     
           

[class*='event']
    color: #fff
    vertical-align: top
    padding: 0.5% 0.5%

    &.event-rest { background-color: #bdc3c7 }
    &.event-bid  { background-color: #e74c3c }
        
            