.page-container
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	
	height: 90%
	width: 95%
	
	overflow-y: auto
	overflow-x: hidden
	
	.btn-prev,
	.btn-next
		position: absolute
		top: 2.5vh

		button 
			background-color: transparent
			color: black
		
	.btn-prev 
		left: 2.5vw
	
	.btn-next 
		right: 2.5vw