link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='bower_components/select2/dist/css/select2.min.css')
link(rel='stylesheet' href='bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
script(type='text/javascript' src='bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript' src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript' src='bower_components/select2/dist/js/select2.min.js')
script(type='text/javascript' src='bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')