.page-container
    h2.title Выберите число

    .datepicker
    
    a(href='#pages' role='button' data-slide-to=PAGES.filters) 
        button.btn Выбрать

script(type='text/javascript') $('.datepicker').datepicker({})