include contents.pug

div(class='item active' id='page-time')
    .page-container
        h2.title Время занятия

        .row
            div(class='col-xs-3 col-xs-offset-3')
                a(href='#pages' role='button' data-slide-to=PAGES.mode_planning.select_date)
                    .case-card 
                        img(src='img/calendar.png')
                        h4.title Планово
                        p.descr Спланировать занятие 
            
            .col-xs-3
                a(href='#pages' role='button' data-slide-to=PAGES.mode_urgent.select_time)
                    .case-card 
                        img(src='img/car.png')
                        h4.title Срочно
                        p.descr Занятие в текущий день