doctype html

- var PAGES = {};
- PAGES.start = '0'; 
- PAGES.mode_urgent = {select_time: '1'}; 
- PAGES.mode_planning = {select_date: '2'}; 
- PAGES.filters = '3';
- PAGES.found = '4';


html(lang='ru')
    head
        title Виджет
        meta(charset='utf-8')
        link(rel='stylesheet' href='styles/widget.css')
        	
        include dependencies.jade

    body.container
        div(id='pages' class='carousel slide' data-ride='carousel' data-interval='false')
            .carousel-inner(role='listbox')
                .item#page-time(class='active')
                    include page_mode.jade
                
                .item#page-timepicker
                    include page_timepicker.jade
                
                .item#page-datepicker
                    include page_datepicker.jade
                
                .item#page-filters
                    include page_filters.jade

                .item#page-found
                    include page_found.jade


