doctype html

html(lang='ru')
    head
        title Виджет
        meta(charset='utf-8')

        include ./dependencies.pug

        link(rel='stylesheet' href='styles/widget.min.css')
        script(type='text/javascript' src='js/widget.min.js')

    body.container
        div(id='pages' class='carousel slide' data-ride='carousel' data-interval='false')
            .carousel-inner(role='listbox')
                .item#page-time(class='active')
                    include pages/select_mode.pug
                
                .item#page-timepicker
                    include pages/select_time.pug
                
                .item#page-datepicker
                    include pages/select_date.pug
                
                .item#page-filters
                    include pages/filters.pug

                .item#page-found
                    include pages/find_results.pug

                .item#page-routes-list
                    include pages/routes_list.pug