extends ./_layout.pug

mixin checkbox(value, is_checked)
    div(class='checkbox')
        label(style='padding: 0;')
            input(type='checkbox' value=value checked=is_checked)
            span(class='cr')
                i(class='cr-icon glyphicon glyphicon-ok')

block content    
    h2.title Фильтры
    
    .row
        div(class='col-xs-2 col-xs-offset-1')  Есть права
        div(class='col-xs-9' style='height: 100%;')
            div(class='material-switch pull-right' style='float: left !important;')
                input(id='has-license-switch' name='has_license' type='checkbox')
                label(for='has-license-switch' class='label-default')

    .row
        div(class='col-xs-2 col-xs-offset-1') Машина
        .col-xs-9
            select#car-selector(multiple='multiple')

    .row
        div(class='col-xs-2 col-xs-offset-1') АКПП
        div(class='col-xs-9' style='height: 100%;')
            div(class='material-switch pull-right' style='float: left !important;')
                input(id='ppc-switch' name='ppc' type='checkbox')
                label(for='ppc-switch' class='label-default')
    
    .row
        div(class='col-xs-2 col-xs-offset-1') Город
        .col-xs-9
            +checkbox('need_city', true)

    .row
        div(class='col-xs-2 col-xs-offset-1') Площадка
        .col-xs-9
            +checkbox('need_driving_ground', true)

    .row
        div(class='col-xs-2 col-xs-offset-1') Маршруты ГИБДД
        .col-xs-6
            select#routes-selector(multiple='multiple')
        .col-xs-3
            a#ref-routes-list Маршруты

    .row
        div(class='col-xs-2 col-xs-offset-1') Занятия с инвалидами
        .col-xs-9
            +checkbox('need_disabilities', false)  
 
    
    button.btn#btn-next Поиск


    script(type='text/javascript')
        | $('#btn-next').click(function(){ 
        |     user_data.filters = 'some_filters';
        |     on_page('found');
        | });
        | $('#ref-routes-list').click(function() {
        |     console.log('Click');
        |     on_page('routes_list');
        | })


    script(type='text/javascript')
        | var cars = ['Renault Logan', 'Volkswagen Polo'];
        | var routes = ['Марьино', 'Люблино'];
        | $.each(cars, function(key, value){ 
        |     $('#car-selector')
        |         .append($('<option></option>')
        |             .attr('value', value)
        |             .text(value)); 
        | });
        | $.each(routes, function(key, value){ 
        |     $('#routes-selector')
        |         .append($('<option></option>')
        |             .attr('value', value)
        |             .text(value)); 
        | });
        | $('#car-selector')   .select2({placeholder: 'Model'});
        | $('#routes-selector').select2({placeholder: 'Route'});