extends ./_layout.pug

block content
    h2.title Время занятия

    .row
        div(class='col-xs-3 col-xs-offset-3')
            .case-card#btn-mode-planning
                img(src='img/calendar.png')
                h4.title Планово
                p.descr Спланировать занятие 
        
        .col-xs-3
            .case-card#btn-mode-urgent
                img(src='img/car.png')
                h4.title Срочно
                p.descr Занятие в текущий день


    script(type='text/javascript')
        | $('#btn-mode-planning').click(function(){
        |     on_page('datepicker');
        | });
        | $('#btn-mode-urgent').click(function() {
        |     on_page('timepicker');
        | });