.modal-body
    min-height: 25vh

#modal-add-car
    photo-size = 15vh
    icon-bg-color = lighten(#3c454c, 10)

    #car-photo-bg
        width: photo-size
        height: photo-size
        
        margin-left: 50%
        transform: translateX(-50%)

        background-color: icon-bg-color
        border-radius: 15%

    .select-wrapper
        width: 100%
        
        select 
            width: 100%