@require '_utils'

header
    position: relative
    
    width: 100%
    margin-bottom: 10.5vh
    padding: 2.5vh 0
    
    border-bottom: 0.15vh solid rgba(0,0,0,0.25)
    

    img
        display: inline-block
        width: 5.5vw
        margin-left: 1.0vw
        margin-right: 1.0vw

    +hN()
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        margin: 0

    .material-icons
        float: right
        margin-right: 1.0vw
    
        font-size: 32px