doctype html
html(lang='ru')
    head
        title Виджет
        meta(charset='utf-8')
        link(rel='stylesheet' href='styles/widget.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' type='text/javascript')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' type='text/javascript')

    body(class='container')
        div(id='pages' class='carousel slide' data-ride='carousel' data-interval='false')
            div(class='carousel-inner' role='listbox')
                div(id='page-time' class='item active')
                    h1(class='row') Время занятия
            
                    div(class='row')
                        button(class='col-lg-3 col-lg-offset-2') Сегодня 
                        button(class='col-lg-3 col-lg-offset-1') Потом


                div(id='page-filters' class='item')
                    h1 Доп. фильтры

                    h2 Машина
                    select(id='car-selector')

                    h2 Маршрут
                    select(id='route-selector')


                div(id='page-found' class='item')
                    h1 Результаты поиска

                    ul(id='results-list')

        script(type='text/javascript')
            | $.get('http://172.31.3.231:8080/avaliable_filters',
            |        function(data){
            |     $.each(data['cars'], function(key, value){ 
            |         $('#car-selector')
            |             .append($('<option></option>')
            |                 .attr('value', value)
            |                 .text(value)); 
            |     });
            |     $.each(data['routes'], function(key, value){ 
            |         $('#routes-selector')
            |             .append($('<option></option>')
            |                 .attr('value', value)
            |                 .text(value)); 
            |     });
            | })

