#pages .item
	position: relative
	height: 500px
	
	.title 
		width: 100%
		text-align: center
		margin-bottom: 4vh
			
	.page-container
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		
		height: 90%
		width: 95%
		
		.btn-back
			float: left
			
			color: transparent 
			
		.btn-forward 
			float: right
			
			color: transparent