@import "material_switch.css"
@import "checkboxes.css"

html 
	background-color: #2C3E50
body 
	width: 100vw
	height: 500px
	margin-bottom: 5vh

	#page-time
		.case-card 
			position: relative
			
			margin: 0 1.0vw
			padding: 0
			
			border-radius: 5px
			color: #000
			background-color: #fff
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) 

			img 
				width: 100%
				border-radius: 5px 5px 0 0 
			.title 
				width: 100%
				text-align: center
				margin-top: 1.75vh
				margin-bottom: 0.75vh
			.descr 
				width: 100%
				text-align: center
				padding-bottom: 1.5vh
				
	#page-filters
		position: relative
				
		select 
			width: 30vw

		button 
			margin-top: 3vh
			margin-left: 50%
			transform: translateX(-50%)
			
		.row 
			height: 50px;
			
			

				