extends ../_list_view.pug

block vars
    - var title = 'Инструкторы';
    - var default_img = 'img/instructors_list/photo_dummy.png';
    - var items_rules = {'.name': {prop: 'innerHTML', val: '{{ item.first_name }} {{ item.last_name }}'}}; 

block item-actions
    +item-action('insert_chart', 'Статистика')
    +item-action('date_range',   'График'    )
    +item-action('edit',         'Изменить'  )
    +item-action('delete',       'Удалить'   )