#list 
    margin: 0 5%

    #wrapper
        text-align: center

        .card
            size = 7.2vw
            
            display: inline-block
            width: size
            height: 1.45 * size
            padding: 0
            margin: 1.25vw 1.25vw
            
            background-color: #fff
            box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.4)
            
            .name
                width: 100%
                height: 12.5%
                
                background-color: #445764
                color: #fff
                
            .exp
                width: 100%
                height: 12.5%
                
                background-color: #7d8e9e
                color: #fff
                
            img
                width: 90%
                height: 65%
                margin: 7.5% 5%
                
                box-shadow: 0 0 0.35vw rgba(0, 0, 0, 0.35)