extends ../_layout.pug

block deps
    +css('instructor/card.css')
    +js('instrucotrs_list.js')


block body
    #list

    template#employee-tmpl
        .card(class='col-lg-3')
            .text-center
                span.first_name 
                span.last_name 
            .exp.text-center(data-content='exp')
            img(src='photo.png')


    script.
        $(function() {
            {% for employee in employees %}
                var tmpl = document.querySelector('#employee-tmpl');
                var clone;

                tmpl.content.querySelector('.first_name').src = {{ employee.first_name }};
                tmpl.content.querySelector('.last_name').src = {{ employee.last_name }};
                tmpl.content.querySelector('.exp').src = {{ employee.exp }};
                tmpl.content.querySelector('img').src = {{ employee.photo }};
    
                clone = document.importNode(tmpl.content, true);
                document.querySelector('#list').appendChild(clone);
            {% endfor %}
        });
