extends ../_layout_logined.pug

block vars
    - var title = 'Инструкторы';

block deps
    +css('instructors_list/list.css')
    //- +js('instrucotrs_list.js')

block body
    #list
        #wrapper

    template#employee-tmpl
        .card
            .name(class='text-center')
            .exp.text-center(data-content='exp')
            img(src=static('img/instructors_list/photo_dummy.png'))


    script.
        $(function() {
            {% for employee in employees %}
                var tmpl = document.querySelector('#employee-tmpl');
                var clone;

                tmpl.content.querySelector('.name').innerHTML = '{{ employee.first_name }} {{ employee.last_name }}';
                //- tmpl.content.querySelector('.exp').src = {{ employee.exp }};
                //- tmpl.content.querySelector('img').src = {{ employee.photo }};
    
                clone = document.importNode(tmpl.content, true);
                document.querySelector('#wrapper').appendChild(clone);
            {% endfor %}
        });
