.widget
    position: relative 
    
    margin: 0 0.75vw
    
    border-radius: 5px
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25)
    
    img 
        width: 100%
        height: 25vh
        
        border-radius: inherit
        
    .header-bg
        position: absolute
        bottom: 0
        
        height: 15%
        width: 100%
        
        border-radius: inherit
        background-color: rgba(0, 0, 0, 0.25)
        
        .wrapper 
            position: relative
            
            width: 100%
            height: 100%
        
            h4
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                
                margin: 0
                
                color: white