extends ../_layout_logined.pug

mixin widget(img, title, href)
    .widget(data-href=href)
        img(src=img)
        .header-bg
            .wrapper 
                h4.text-uppercase= title

block vars 
    - var title = '{{ legal_name }}'; 

block deps
    +css('dashboard/dashboard.css')

block body
    section
        div(class='col-lg-5 col-lg-offset-1')
            +widget(
                static('img/dashboard/img/instructor.png'), 
                'Инструкторы', 
                '/instructors'
            )

        div(class='col-lg-5')
            +widget(
                static('img/dashboard/img/place.png'), 
                'Площадки', 
                '/driving-grounds'
            ) 

        script.
            $('.widget').click(function() {
                window.location = $(this).attr('data-href');
            });